<div class="app-container">
  <div class="header">
    <h1>Employee Project Management System</h1>
    <p>Oracle Database with Angular 16 & PrimeNG</p>
  </div>

  <p-tabView>
    <p-tabPanel header="Learning & Training" leftIcon="pi pi-graduation-cap">
      <app-learning></app-learning>
    </p-tabPanel>
    <p-tabPanel header="Employee Salary" leftIcon="pi pi-dollar">
      <app-salary></app-salary>
    </p-tabPanel>
    <p-tabPanel header="Project Value Add" leftIcon="pi pi-lightbulb">
      <app-valueadd></app-valueadd>
    </p-tabPanel>
  </p-tabView>
</div>

<p-toast></p-toast>
